<a href="https://colab.research.google.com/github/S-MANU/practice-work/blob/main/brushing_works.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#calculate london points
#london played 9 matches, win = 6 , drew = 1, lost = 2
win = 6
lost = 2
draw = 1
london_points = win*3 + draw*1 + lost*0
print(london_points)

19

In [ ]:
def c_p(win, lost, draw):
  return(win*3 + draw*1 + lost*0)

l_points = c_p(4,3,6)
print("Lisbon Points", l_points)

Lisbon Points 18

In [ ]:
def calculate_points(win, lost, draw):
  return(win*3 + draw*1 + lost*0)

win = int(input("Enter number of wins:"))
lost = int(input("Enter number of lost:"))
draw = int(input("Enter number of draws:"))

tot_points = calculate_points(win, lost, draw)
print("Total points:", tot_points)

Enter number of wins:8
Enter number of lost:3
Enter number of draws:4
Total points: 28

In [19]:
str1 = 'tisha'
str2 = 'monish'
t = str1[:1]
g = t.upper()
m = str2[:5]
k = str1[1:4]
j = k.upper()
l = str1[3]
p = str1[4]
o = p.upper()

#print(g)
#print(m)
#print(j)
#print(l)
#print(o)
print(g + m+ j+l+o)

final = str1[0].upper() + str2[:5] + str2[3:6].upper() + str1[3] + str1[4].upper()
print(final)

TmonisISHhA
TmonisISHhA

In [25]:
# A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]
i = temperatures.index(29)
j = temperatures.index(42)

temperatures[i], temperatures[j] = temperatures[j], temperatures[i]

print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

In [ ]:
Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

Example 1:
Input:
["Red","Green","White" ,"Black"]

Output:
Red Black

In [28]:
new_list = ["Red","Green","White" ,"Black"]


new = [new_list[0], new_list[3]]
print(' '.join(new))

Red Black

In [4]:
#jj = 25.369865
num = float(input("enter the number:"))
decimal = int(input("enter the decimal you need to round of:"))
final = round(num,decimal)
print(final)
#k = round(jj,4)
#print(k)

enter the number:235.2568
enter the decimal you need to round of:2
235.26

In [11]:
w = 65
h = 6
n = (w / h**2)
print(n)

1.8055555555555556

In [14]:

w = float(input("type your weight:"))
h = float(input("type your hight:"))
bmi = (w / (h**2))
m = float(bmi)
j = print(round(m,2))

type your weight:65
type your hight:6
1.81

In [ ]:
Input:
21, 34, 56, name

shop, job, name, item

Output:
[' 34', ' 56', '21'] [' item', ' job', ' name', 'shop']

In [24]:
a = {21, 34, 56,'name'}
b = {'shop', 'job', 'name', 'item'}
c = a.union(b)
print(c)
f = zip(a,b)
print(dict(f))

{34, 'shop', 'job', 21, 'item', 56, 'name'}
{56: 'shop', 34: 'name', 'name': 'item', 21: 'job'}

In [26]:
s1 = input()
s2 = input()

list1 = s1.split(',')
list2 = s2.split(',')

intersection = set(list1) & set(list2)


for item in intersection:
  if item in list1:
    list1.remove(item)

list1.reverse()
list2.reverse()

print(list1, list2)

21, 34, 56, name
shop, job, name, item
{' name'}
[' 56', ' 34', '21'] [' item', ' name', ' job', 'shop']

In [35]:
# Input set
s = input()  # Example: 3, 2, 6, 8, 5

# Input item to remove
item = input()  # Example: 8

# Convert input to set of integers
my_set = set(map(int, s.split(",")))

# Convert item to integer
item = int(item)

# Remove item if present
my_set.discard(item)

# Print result
print(my_set)

3,2,6,8,5
8
{2, 3, 5, 6}

In [36]:
w1 = input()
w2 = input()
my_set = set(map(int, w1.split(',')))
w2 = int(w2)
my_set.discard(w2)
print(my_set)

3,2,6,8,5
8
{2, 3, 5, 6}

In [3]:
a = {'book', 'paper', 'draw', 'dance'}
b = {'hike', 'tour', 'dance', 'work'}
c = a.intersection(b)
print(c)

{'dance'}

In [6]:
vowel = 'j'
if vowel in ('a','e','i','u'):
  print('Vowel')
else:
  print('Consonant')

Consonant

In [7]:
letter = input("Enter an alphabet:")

if letter.lower() in ('a', 'e', 'i','o', 'u'):
  print('Vowel')
else:
  print('Consonant')

Enter an alphabet:d
Consonant

In [17]:
Month = input("Enter a month: ").lower()

if Month in ('january', 'march', 'may', 'july', 'august', 'october','december'):
  print('31 Days')

elif Month in ('april', 'june', 'september', 'november'):
  print('30 Days')

elif Month == 'February':
  print('28/29 Days')
else:
  print('invalid input')

Enter a month: march
31 Days

In [24]:
dage = int(input("enter year:"))

if dage <= 2 :
  Dog_years = dage * 10.5
else:
  Dog_years = (2*10.5) + ((dage-2) * 4)
print('Dog age:', int(Dog_years))

enter year:12
Dog age: 61